@import '../variables/colors';

.event-preview {
    display: flex;
    align-items: center;
    margin: 20px 20px 20px 0;
    padding: 20px;
    background-color: $color-white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;

    img {
        width: 150px;
        height: 150px;
        object-fit: cover;
        margin-right: 20px;
        border-radius: 5px;
    }

    .event-info {
        flex: 1;

        p {
            margin: 5px 0;
            font-size: 16px;
        }

        h2 {
            margin-top: 0;
            margin-bottom: 10px;
            font-size: 24px;
        }
    }
}
