@import '../variables/colors.scss';

.image-text {
    max-width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    text-align: center;

    &__image {
        display: block;
        object-fit: contain;
    }

    &__text {
        color: $color-white;
    }

    &.small {
        .image-text__image {
            width: 46px;
            height: 46px;
            margin: 0.5rem 0;
        }

        .image-text__text {
            font-size: 1.2rem;
        }
    }

    &.medium {
        .image-text__image {
            width: 60px;
            height: 60px;
            margin: 1.5rem 0;
        }

        .image-text__text {
            font-size: 1.3rem;
        }
    }

    &.big {
        .image-text__image {
            width: 112px;
            height: 112px;
            margin: 1.5rem 0;
        }

        .image-text__text {
            font-size: 2rem;
        }
    }

    &.left {
        justify-content: left;
    }

    &.center {
        justify-content: center;
    }

    &.right {
        justify-content: right;
    }
}