@import "../../variables/colors.scss";

header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 4rem;
    padding: 0 2rem;

    background-color: $color-background-primary;
    border-top: 2px solid $color-border-primary;
    border-bottom: 2px solid $color-border-primary;

    :first-child {
        width: 14rem;
    }
}