@import '../index.scss';
@import '../variables/colors.scss';

.home-page {
    display: flex;
    flex-grow: 1;
    background-color: $color-white-dark;
}

.home-page .left {
    width: 25%;
}

.home-page .right {
    width: 75%;
}