@import '../index.scss';
@import '../variables/colors.scss';

.login-page {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
    background-color: $color-blue;

    .login-section {
        width: 400px;
        margin: 0 auto 100px auto;
    }
}
