@import '../index.scss';
@import '../variables/colors.scss';

.password-edit-page {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color-white-dark;

    .password-edit-section {
        width: 700px;
        margin: 0 auto ;
    }
}

