@import '../index.scss';
@import '../variables/colors.scss';

.password-edit-page {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: $color-white-dark;
}
