@import '../index.scss';
@import '../variables/colors.scss';

.profile-edit-page {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color-white-dark;

    .profile-edit-section {
        width: 800px;
        margin: 0 auto ;
    }
}
