@import '../variables/fonts.scss';

.icon {
    font-family: $font-family-icons;

    &.small {
        font-size: 1rem;
    }

    &.medium {
        font-size: 2rem;
        line-height: 2rem;
    }

    &.extra-large {
        font-size: 8rem;
        line-height: 8rem;
    }

    &.cursor-ptr {
        cursor: pointer;
    }

    &.plus:before {
        content: "\2795";
    }

    &.heart:before {
        content: "\2665";
    }

    &.comment:before {
        content: "\f075";
    }

    &.paper-plane:before {
        content: "\f1D8";
    }

    &.bookmark:before {
        content: "\f02e";
    }

    &.logout:before {
        content: "\f045";
    }

    &.image:before {
        content: "\f03e";
    }

    &.user:before {
        content: "\f007";
    }
}