@import '../../variables/colors';

.register-form {
    width: 100%;
    padding: 1.875rem;
    background-color: $color-white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 4px;

    .field-set {
        display: flex;
        justify-content: space-evenly;
        gap: 1.875rem;

        > div {
            width: 100%;
        }
    }
}