@import '../../variables/colors';

.register-form {
    width: 100%;
    padding: 1.875rem;
    background-color: $color-white;
    border: 2px solid $color-gray-light;
    border-radius: 10px;

    .field-set {
        display: flex;
        justify-content: space-evenly;
        gap: 1.875rem;

        > div {
            width: 100%;
        }

    }
}