@import '../../variables/colors.scss';

.footer {
    display: flex;
    align-items: center;
    height: 80px;
    text-align: center;
    background-color: $color-blue-dark;
    padding: 0 2rem;

    > div {
        flex-basis: 100px;
    }

    > div:first-child {
        text-align: left;
    }

    > div:first-child,
    > div:last-child {
        flex-grow: 1;
        color: $color-white;
    }

    > div:nth-child(2) {
        flex-grow: 2;
        color: $color-white;
        font-size: 0.9rem;
        text-align: center;
        text-transform: uppercase;

        a {
            cursor: pointer;
            color: $color-white;
        }
    }

    &__contacts {
        a {
            margin: 0 5px;
        }
        img {
            width: 36px;
            height: 36px;
            filter: invert(100%);
        }
    }
}