@import '../../variables/colors';

@mixin alert {
    width: 100%;
    margin-top: 2rem;
    padding: 1.4rem;
    overflow: hidden;
    box-sizing: border-box;
    border-radius: 10px;
    text-align: center;
}

.alert-default {
    @include alert;
    border: 2px solid $color-border-primary;
}

.alert-error {
    @include alert;
    color: rgb(164, 83, 91);
    background-color: rgb(248, 215, 218);
    border: 2px solid rgb(247, 210, 213);
}

.alert-success {
    @include alert;
    color: rgb(7, 81, 98);
    background-color: rgb(209, 231, 221);
    border: 2px solid rgb(186, 219, 204);
}