.teaser {
    max-width: 100%;

    .teaser__image {
        display: block;
        width: 5rem;
        height: 5rem;
        margin: 1rem auto;

        &--small {
            width: 3rem;
            height: 3rem;
        }

        &--large {
            width: 7rem;
            height: 7rem;
        }
    }

    .teaser__text {
        display: inline-block;
        width: 100%;
        height: max-content;
        margin: 0 auto 1rem auto;
        font-size: 2rem;
        font-weight: normal;
        text-align: center;
    }

    &--row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .teaser__image {
            margin: 1.5rem 0;
        }

        .teaser__text {
            margin: auto;
        }
    }
}