$color-white: white;
$color-white-dark: #ECF0F1;

$color-gray-light: #D3D3D3;
$color-gray: gray;

$color-blue-light: rgb(85, 119, 250);
$color-blue: rgb(0, 82, 204);
$color-blue-dark: rgb(36, 48, 62);