.radio-wrapper * {
    box-sizing: border-box;
}
.radio-wrapper .radio-label {
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
    padding: 6px 8px;
    border-radius: 6px;
    overflow: hidden;
    transition: all 0.2s ease;
    display: inline-block;
}
.radio-wrapper .radio-label:not(:last-child) {
    margin-right: 6px;
}
.radio-wrapper .radio-label:hover {
    background: rgba(0,119,255,0.06);
}
.radio-wrapper .radio-label span {
    float: left;
    vertical-align: middle;
    transform: translate3d(0, 0, 0);
}
.radio-wrapper .radio-label span:first-child {
    position: relative;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: white;
    transform: scale(1);
    border: 1px solid #cccfdb;
    transition: all 0.2s ease;
    box-shadow: 0 1px 1px rgba(0,16,75,0.05);
}
.radio-wrapper .radio-label span:first-child::after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 8px;
    height: 8px;
    background-color: #07f;
    border-radius: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: transform 0.3s ease;
}
.radio-wrapper .radio-label span:last-child {
    padding-left: 10px;
    line-height: 18px;
    text-transform: capitalize;
}
.radio-wrapper .radio-label:hover span:first-child {
    border-color: #07f;
}
.radio-wrapper .radio-input {
    position: absolute;
    visibility: hidden;
}
.radio-wrapper .radio-input:checked + .radio-label span:first-child {
    background-color: white;
    border-color: #07f;
}
.radio-wrapper .radio-input:checked + .radio-label span:first-child::after {
    transform: translate(-50%, -50%) scale(1);
}
.radio-wrapper .inline-svg {
    position: absolute;
    width: 0;
    height: 0;
    pointer-events: none;
    user-select: none;
}
@media screen and (max-width: 640px) {
    .radio-wrapper .radio-label {
      width: 100%;
      display: inline-block;
    }
}
