@import './variables/fonts.scss';
@import './variables/colors.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    height: 100%;
    font-family: $font-roboto-regular;
}

#root {
    height: 100%;
}

input, select, textarea, button {
    font-family: inherit;
    font-size: inherit;
}

h1 {
    font-size: 1.2rem;
    font-weight: inherit;
}

a {
    color: $color-blue;
    text-decoration: none;
}

